<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button
                matTooltip="{{'TEXT.BACK' | translate}}">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">{{'TEXT.BACK' | translate}}</span>
            </a>
            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit()"
                mat-raised-button matTooltip="{{'TEXT.SAVE' | translate}}">
                <span class="kt-hidden-mobile">{{buttonSave}}</span>
            </a>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <form [formGroup]="birimForm" class="kt-form kt-form--group-seperator-dashed">

            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                (close)="onAlertClose($event)">
                {{'VALIDATION.ERROR'| translate }}
            </kt-alert>
            <div class="kt-form__section kt-form__section--first">
                <div class="kt-form__group">
                    <div class="row">
                        <!-- <div class="col-md-6 kt-margin-bottom-10-mobile">
                                <mat-form-field class="mat-form-field-fluid"   >
                                    <mat-select placeholder="{{'TEXT.default_dil' | translate}}" formControlName="default_dil" >
                                        <mat-option *ngFor="let item of selectLanguage" [value]="item.value">{{item.key}}</mat-option>
                                    </mat-select>
                                </mat-form-field>  
                             </div> -->
                        <div class="col-lg-6 kt-margin-bottom-20-mobile" *ngFor="let item of ObjectContorls()">
                            <mat-form-field class="mat-form-field-fluid" *ngIf="ifTextBox(item) == true">
                                <mat-label>{{'TEXT.'+item | translate }}</mat-label>
                                <input matInput type="text" placeholder="{{'TEXT.'+item | translate }}"
                                    formControlName="{{item}}" autocomplete="off" />
                                <mat-error *ngIf="isControlHasError(item,'required')">
                                    <strong>{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('adi','minlength')">
                                    <strong>{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate }} 2</strong>
                                </mat-error>
                                <mat-error *ngIf="isControlHasError('adi','maxlength')">
                                    <strong>{{ 'VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                </div>
                <div class="kt-form__group">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="{{'TEXT.default_dil' | translate}}"
                                    formControlName="default_dil">
                                    <mat-option *ngFor="let dil of dilKodlari" [value]="dil.value">{{dil.key}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-md-3 kt-margin-bottom-10-mobile">
                            <div> {{'TEXT.uyruk_bilgisi_durumu' | translate}} :</div>
                            <mat-slide-toggle formControlName="uyruk_bilgisi_durumu" (change)="changeStatu(3)">
                                {{uyruk_bilgisi| translate}}</mat-slide-toggle>
                        </div>
                        <div class="col-lg-3 col-md-3 kt-margin-bottom-10-mobile">
                            <div>{{'TEXT.kayit_turu_durumu' | translate}}:</div>
                            <mat-slide-toggle formControlName="kayit_turu_durumu" (change)="changeStatu(2)">{{kayit_turu
                                | translate}}</mat-slide-toggle>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div>{{'TEXT.durumu' | translate}}:</div>
                            <mat-slide-toggle formControlName="durumu" (change)="changeStatu(1)">{{durumuText |
                                translate}}</mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <div class="kt-form__group">
                    <div class="row">
                        <div class="col-lg-6 kt-margin-bottom-20-mobile">
                            <div>{{'TEXT.birim_basvuru_modulleri' | translate}}:</div>
                            <section class="example-section" *ngFor="let item of BirimBasvuruModul"
                                [formGroup]="birimBasvuruModulForm">
                                <p>
                                    <mat-checkbox formControlName="{{item.value}}">{{item.key}}</mat-checkbox>
                                </p>
                            </section>
                        </div>

                        <div class="col-lg-6 col-md-6 kt-margin-bottom-20-mobile">
                            <div style="width: 40%;">
                                <div>{{'TEXT.logo' | translate}}:</div><br>
                                <doko-file-upload-all [imgURL]="imgUrl" controlName="logo_url" name="logo_url"
                                    [isSaveButton]="false" [multiple]="false"> </doko-file-upload-all>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </kt-portlet-body>
</kt-portlet>