@import "../../../../../assets/student/login/css/style.bundle.css";
.lisansKutu {
    background-color: #7142E3 !important;
    background-size: 100%;
    background-image: url('../../../../../assets/student/general/bg-2.jpg');
    box-shadow: 3px 3px 4px #7142E3;
    cursor: pointer;
    color: #fff !important;
}

.lisansEkleCerceve {
    min-width: 380px;
    min-height: 160px;
    height: 160px;
    padding-top: 10px;
}

.lisansEkle {
    background-position: 305px 40px;
    box-shadow: 3px 3px 4px #7142E3 !important;
    background-size: auto 70%;
    background-image: url('../../../../../assets/student/general/3.png');
    cursor: pointer;
    text-align: center;
    opacity: 0.6;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.lisansEkle>i {
    font-size: 64px;
    padding-top: 10px;
    color: #7142E3;
}

.lisansEkle:hover {
    zoom: 1;
    filter: alpha(opacity=1);
    opacity: 1;
}

@media (max-width: 991.98px) {
    .cerceve {
        min-width: 100px!important;
        min-height: 180px;
    }
    .lisansEkleCerceve {
        min-width: 100px!important;
        min-height: 180px;
    }
}