<kt-portlet>
    <kt-portlet-header [title]="'TITLE.kullanici_tanim_listesi'| translate" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
            <button (click)="editModal({ data: {id:null}})" mat-raised-button color="primary"
                matTooltip="{{'TEXT.ADD' | translate}}">{{'TEXT.ADD' | translate}}</button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <kt-custom-ag-grid (agGridCustom)="agGridSet($event)" (editData)="editModal($event)" [rowData]="rowData"
            [columnDefs]="columnDefs"> </kt-custom-ag-grid>
    </kt-portlet-body>
</kt-portlet>