
$base-color: #0099c6 !important;

.spanTitle {
    font-size: 10px;
    font-weight: 700;
    color: #302e50;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2px;
}

.spanTitle .spanData {
    font-size: 10px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #302e50;
}

.grafikTop {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    height: 10px;
    width: 10px;
    background-color: #dd4477;
    position: absolute;
    margin-right: 3px;
}

.grafikText {
    font-size: 10px;
    margin-left: 15px;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
    background-color: #0399c6 !important;
}

.menuList button {
    font-size: 12px;
}

.menuList button mat-icon {
    left: 10px;
    position: absolute;
    top: 4px;
    color: #46464694;
    font-size: 22px !important;

}
.menuKapatmaIcon{

    font-size: 25px !important;
                            margin-right: 12px;
                            margin-top: 7px;
                            vertical-align: sub;
                            color: $base-color;
                             cursor: pointer;
}

.solMat-Card
{
   margin: 15px 0px 0px 10px; 
   border-right: 4px solid !important;
   border-color: $base-color;

}

.solAcmaMat-card
{
    height:600px;
    padding: 250px 0px;
     background-color: $base-color;
}

.default-bg-color
{

    background-color: $base-color;
}

.default-color
{

    color: $base-color;
}