.kt-badge--level-one-success {
    color: #ffffff !important;
    background-color: #b2d929  !important;
}

.kt-badge--level-second-success {
    color: #ffffff !important;
    background-color: #799513  !important;
}

.kt-badge.kt-badge--danger {
    color: #ffffff;
    background: #ff1260 !important;
}