<div class="modalBody">
	<div class="header">
		<h4>{{ 'TITLE.konsolosluk_tanim' | translate }}</h4>
		<span [mat-dialog-close]="data.animal" style=" position: absolute;  top: 10px;right: -20px;">
			<mat-icon> close</mat-icon>
		</span>
	</div>
	<form class="kt-login__form kt-form" [formGroup]="konsoloslukTanimForm" autocomplete="off">
		<div class="form-group kt-form__group row">
			<div class="col-lg-12">
				<mat-form-field class="mat-form-field-fluid">
					<mat-select placeholder="{{'TEXT.ulke_kodu' | translate}}" formControlName="ulke_kodu">
						<mat-option *ngFor="let ulke of ulkeKodlari" [value]="ulke.value">{{ulke.key}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-lg-12 kt-margin-bottom-20-mobile">
				<mat-form-field class="mat-form-field-fluid">
					<mat-label>{{'TEXT.adi_tr' | translate}}</mat-label>
					<input matInput type="text" placeholder="{{'TEXT.adi_tr' | translate}}" formControlName="adi_tr" />
					<mat-error *ngIf="isControlHasError('adi_tr','required')">
						<strong>{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('adi_tr','maxlength')">
						<strong> {{ 'VALIDATION.MAX_LENGTH_FIELD' | translate }}</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-lg-12 kt-margin-bottom-20-mobile">
				<mat-form-field class="mat-form-field-fluid">
					<mat-label>{{'TEXT.adi_en' | translate}}</mat-label>
					<input matInput type="text" placeholder="{{'TEXT.adi_en' | translate}}" formControlName="adi_en" />
					<mat-error *ngIf="isControlHasError('adi_en','required')">
						<strong>{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('adi_en','maxlength')">
						<strong>{{ 'VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-lg-12 kt-margin-bottom-20-mobile">
				<mat-form-field class="mat-form-field-fluid">
					<mat-label>{{'TEXT.kodu' | translate}}</mat-label>
					<input matInput type="text" placeholder="kodu" [readonly]="data.id" formControlName="kodu" />
					<mat-error *ngIf="isControlHasError('kodu','required')">
						<strong>{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('kodu','maxlength')">
						<strong>{{ 'VALIDATION.MAX_LENGTH_FIELD' | translate }} 4</strong>
					</mat-error>
				</mat-form-field>
			</div>
		</div>
	</form>
	<div class="rightCrudBtn">
		<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary"
			[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{buttonSave}}
		</button>
		<button type="button" mat-raised-button [mat-dialog-close]="data.animal" class="btn pull-right cancbtn">
			{{"TEXT.CANCEL" | translate }} </button>
	</div>
</div>