<div class="row">
    <!-- Lise Kart Başlangıcı -->
    <div id="{{item.id}}" class="col-lg-4 d-flex flex-column mb-4 cerceve" style="min-width: 380px; min-height: 160px;" *ngFor="let item of lyceeInfo" (click)="liseModal(item.id)">
        <div class="flex-grow-1 p-8 rounded-xl flex-grow-1 bgi-no-repeat liseKutu">
            <h4 class="mt-2">
                {{item.adi}}
            </h4>
            <p class="my-4">
                {{item.baslama_yili}} - {{item.bitis_yili}}
            </p>
            <p class="my-4">
                {{item.sehir}} / {{getUlkeAdi(item.ulke_kodu)?.adi_tr | translateData :getUlkeAdi(item.ulke_kodu)?.adi_en}}
            </p>
        </div>
    </div>
    <!-- Lise Kart Bitiş -->
    <!-- Lise Boş Kart Başlangıcı -->
    <div class="col-lg-4 d-flex flex-column mb-4 liseEkleCerceve" (click)="liseModal()" *ngIf="!this.dataState">
        <div class="flex-grow-1 p-8 rounded-xl flex-grow-1 bgi-no-repeat shadow-lg p-3 mb-5 bg-white rounded liseEkle">
            <i class="fas fa-plus "></i>
        </div>
    </div>
    <!-- Lise Boş Kart Bitiş -->
</div>