<!--begin::Body-->
<div class="kt-login__body">
    <!--begin::Signin-->
    <div class="kt-login__form">
        <div class="kt-login__title">
            <h3>{{ 'TEXT.FORGOT_BUTTON' | translate }}</h3>
        </div>
        <form class="kt-form" [formGroup]="forgotPasswordForm" autocomplete="off">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>{{ 'TEXT.eposta' | translate }}</mat-label>
                    <input matInput type="email" placeholder="{{ 'TEXT.eposta' | translate }}" formControlName="email" autocomplete="off" />
                    <mat-error *ngIf="isControlHasError('email','required')">
                        <strong>{{ 'VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('email','email')">
                        <strong>{{ 'VALIDATION.INVALID_FIELD' | translate }}</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('email','minLength')">
                        <strong>{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('email','maxLength')">
                        <strong>{{ 'VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <!--begin::Action-->
            <div class="kt-login__actions">
                <a class="kt-link kt-login__link-forgot" routerLink="/admin/auth/login" class="btn btn-secondary btn-elevate btn-xl">
					{{ 'TEXT.BACK' | translate }}
				</a>
                <button (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'TEXT.SAVE' | translate }}</button>
            </div>
            <!--end::Action-->
        </form>
    </div>
</div>