<div class="modalBody">
	<div class="header">
		<h4>{{ 'TITLE.banka_tanim' | translate }}</h4>
		<span [mat-dialog-close]="data.animal" style=" position: absolute;  top: 10px;right: -20px;">
			<mat-icon> close</mat-icon>
		</span>
	</div>

	<form class="kt-login__form kt-form" [formGroup]="bankaTanimForm" autocomplete="off">
		<div class="form-group kt-form__group row">
			<div class="col-lg-12 kt-margin-bottom-20-mobile">
				<mat-form-field class="mat-form-field-fluid">

					<mat-label> {{'TEXT.banka_adi' | translate}}</mat-label>
					<input matInput type="text" placeholder="{{'TEXT.banka_adi' | translate}}" formControlName="adi" />
					<mat-error *ngIf="isControlHasError('adi','required')">
						<strong>{{isContorlMessage('VALIDATION.REQUIRED')}}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('adi','maxlength')">
						<strong>{{ 'VALIDATION.MAX_LENGTH_FIELD' | translate }}</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-lg-12 kt-margin-bottom-20-mobile">
				<mat-form-field class="mat-form-field-fluid">
					<mat-label> {{'TEXT.turu' | translate}}</mat-label>
					<mat-select formControlName="turu">
						<mat-option *ngFor="let item of BankaTuru" [value]="item.value">{{item.text}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-lg-12 kt-margin-bottom-20-mobile"
				*ngIf="bankaTanimForm.controls['turu'].value==1 || bankaTanimForm.controls['turu'].value==2">
				{{'TEXT.parametreler' | translate}}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{{ 'TEXT.parametreler' | translate }} </th>
							<th>{{ 'TEXT.deger' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let row of ziraatparametre" [formGroup]="ziraatForm">
							<td><input matInput type="text" formControlName="{{row.text}}_id"
									placeholder="{{ 'TEXT.parametreler' | translate }}" /></td>
							<td><input matInput type="text" formControlName="{{row.text}}"
									placeholder="{{ 'TEXT.deger' | translate }}" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--end::Action-->
	</form>
	<div class="rightCrudBtn">
		<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary"
			[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{buttonSave}}
		</button>
		<button type="button" mat-raised-button [mat-dialog-close]="data.animal" class="btn pull-right cancbtn">
			{{"TEXT.CANCEL" | translate }} </button>
	</div>
</div>